NCD 1 Channel Vibration Sensor Plus Free/Firmware/flow.json
[
    {
        "id": "f80f5946202b1a7a",
        "type": "tab",
        "label": "1 Channel Vibration Sensor Plus",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "280f4bc5ee509120",
        "type": "ncd-gateway-node",
        "z": "f80f5946202b1a7a",
        "name": "",
        "connection": "f0dfd4dce7e9b113",
        "unknown_devices": 0,
        "outputs": 1,
        "x": 330,
        "y": 480,
        "wires": [
            [
                "5af1a3707a67dc13"
            ]
        ]
    },
    {
        "id": "afb79874bf786f91",
        "type": "ncd-wireless-node",
        "z": "f80f5946202b1a7a",
        "name": "",
        "connection": "f0dfd4dce7e9b113",
        "config_comm": "f0dfd4dce7e9b113",
        "addr": "",
        "sensor_type": "80",
        "auto_config": "",
        "on_the_fly_enable": "",
        "node_id_delay_active": "",
        "node_id": 0,
        "delay": 300,
        "form_network": "",
        "destination_active": "",
        "destination": "0000FFFF",
        "power_active": "",
        "power": 4,
        "retries_active": "",
        "retries": 10,
        "pan_id_active": "",
        "pan_id": "7FFF",
        "change_enabled": "",
        "change_pr": "0",
        "change_interval": "0",
        "bp_altitude": "0",
        "bp_pressure": "0",
        "bp_temp_prec": "0",
        "bp_press_prec": "0",
        "amgt_accel": "0",
        "amgt_mag": "0",
        "amgt_gyro": "0",
        "impact_accel_active": "",
        "impact_accel": "0",
        "impact_data_rate_active": "",
        "impact_data_rate": "4",
        "impact_threshold_active": "",
        "impact_threshold": 25,
        "impact_duration_active": "",
        "impact_duration": 1,
        "activ_interr_x": 1,
        "activ_interr_y": 2,
        "activ_interr_z": 4,
        "activ_interr_op": 8,
        "force_calibration_co2_auto_config": "",
        "force_calibration_co2": 400,
        "filtering": 0,
        "data_rate": 5,
        "time_series": 0,
        "reading_type": 1,
        "mode_80_active": "",
        "mode_80": 0,
        "measurement_mode_80_active": "",
        "measurement_mode_80": 0,
        "on_request_timeout_80_active": "",
        "on_request_timeout_80": 1,
        "sensor_boot_time_420ma_active": "",
        "sensor_boot_time_420ma": 0,
        "sensor_boot_time_78_active": "",
        "sensor_boot_time_78": 0,
        "deadband_80_active": "",
        "deadband_80": 0,
        "filter_80_active": "",
        "filter_80": 0,
        "output_data_rate_p1_81_active": "",
        "output_data_rate_p1_81": 0,
        "output_data_rate_p2_81_active": "",
        "output_data_rate_p2_81": 0,
        "sampling_duration_p1_81_active": "",
        "sampling_duration_p1_81": 0,
        "sampling_duration_p2_81_active": "",
        "sampling_duration_p2_81": 0,
        "led_alert_mode_84_active": "",
        "led_alert_mode_84": 0,
        "led_accelerometer_threshold_84_active": "",
        "led_accelerometer_threshold_84": "",
        "led_velocity_threshold_84_active": "",
        "led_velocity_threshold_84": "",
        "set_rtc_101": 0,
        "current_calibration_82": "",
        "current_calibration_82_active": false,
        "current_calibration_c1_80": 178,
        "current_calibration_c1_80_active": "",
        "current_calibration_c2_80": 178,
        "current_calibration_c2_80_active": "",
        "current_calibration_c3_80": 178,
        "current_calibration_c3_80_active": "",
        "output_data_rate_101_active": "",
        "output_data_rate_101": 0,
        "output_data_rate_101_m2_active": "",
        "output_data_rate_101_m2": 0,
        "sampling_duration_101_active": "",
        "sampling_duration_101": 1,
        "sampling_interval_101_active": "",
        "sampling_interval_101": 1,
        "full_scale_range_101_active": "",
        "full_scale_range_101": 1,
        "full_scale_range_101_m2_active": "",
        "full_scale_range_101_m2": 1,
        "x_axis_101": "",
        "y_axis_101": "",
        "z_axis_101": "",
        "low_pass_filter_80_active": "",
        "low_pass_filter_80": 0,
        "high_pass_filter_80_active": "",
        "high_pass_filter_80": 0,
        "low_pass_filter_81_p2_active": "",
        "low_pass_filter_81_p2": 0,
        "high_pass_filter_81_p2_active": "",
        "high_pass_filter_81_p2": 0,
        "roll_angle_threshold_47": 0,
        "roll_angle_threshold_47_active": "",
        "pitch_angle_threshold_47": 0,
        "pitch_angle_threshold_47_active": "",
        "counter_threshold_35": 50,
        "counter_threshold_35_active": "",
        "payload_length_80_active": "",
        "payload_length_80": 3,
        "motion_threshold_46_active": "",
        "motion_threshold_46": 100,
        "low_calibration_420ma_active": "",
        "low_calibration_420ma": 68805,
        "mid_calibration_420ma_active": "",
        "mid_calibration_420ma": 68724,
        "high_calibration_420ma_active": "",
        "high_calibration_420ma": 68714,
        "thermocouple_type_23_active": "",
        "thermocouple_type_23": 0,
        "acceleration_interrupt_threshold_84_active": "",
        "acceleration_interrupt_threshold_84": "",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "f9698fde9279b000",
                "15fa62dada40c9b0"
            ]
        ]
    },
    {
        "id": "f9698fde9279b000",
        "type": "debug",
        "z": "f80f5946202b1a7a",
        "name": "From Sensor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 240,
        "wires": []
    },
    {
        "id": "00ac0c380e905db1",
        "type": "mqtt out",
        "z": "f80f5946202b1a7a",
        "name": "",
        "topic": "ds/Output Data Range",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "78febe8b877c656a",
        "x": 880,
        "y": 120,
        "wires": []
    },
    {
        "id": "e0c6dc4616cb9c8b",
        "type": "mqtt out",
        "z": "f80f5946202b1a7a",
        "name": "",
        "topic": "ds/Temperature",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "78febe8b877c656a",
        "x": 860,
        "y": 160,
        "wires": []
    },
    {
        "id": "c6772b27d3ea6191",
        "type": "mqtt out",
        "z": "f80f5946202b1a7a",
        "name": "",
        "topic": "ds/X RMS ACC G",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "78febe8b877c656a",
        "x": 870,
        "y": 200,
        "wires": []
    },
    {
        "id": "c4d27632377e939d",
        "type": "mqtt out",
        "z": "f80f5946202b1a7a",
        "name": "",
        "topic": "ds/X MAX ACC G",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "78febe8b877c656a",
        "x": 870,
        "y": 240,
        "wires": []
    },
    {
        "id": "6023034f50d8fa41",
        "type": "mqtt out",
        "z": "f80f5946202b1a7a",
        "name": "",
        "topic": "ds/Y RMS ACC G",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "78febe8b877c656a",
        "x": 870,
        "y": 280,
        "wires": []
    },
    {
        "id": "4ab1bb85787562b7",
        "type": "mqtt out",
        "z": "f80f5946202b1a7a",
        "name": "",
        "topic": "ds/Y MAX ACC G",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "78febe8b877c656a",
        "x": 870,
        "y": 320,
        "wires": []
    },
    {
        "id": "ded4b9a145ed3b3b",
        "type": "mqtt out",
        "z": "f80f5946202b1a7a",
        "name": "",
        "topic": "ds/Z RMS ACC G",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "78febe8b877c656a",
        "x": 870,
        "y": 360,
        "wires": []
    },
    {
        "id": "a8918cbb84713574",
        "type": "mqtt out",
        "z": "f80f5946202b1a7a",
        "name": "",
        "topic": "ds/Z MAX ACC G",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "78febe8b877c656a",
        "x": 870,
        "y": 400,
        "wires": []
    },
    {
        "id": "5af1a3707a67dc13",
        "type": "debug",
        "z": "f80f5946202b1a7a",
        "name": "From Gateway",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 520,
        "wires": []
    },
    {
        "id": "ba1e72b6d0681524",
        "type": "mqtt out",
        "z": "f80f5946202b1a7a",
        "name": "",
        "topic": "ds/Battery",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "78febe8b877c656a",
        "x": 840,
        "y": 440,
        "wires": []
    },
    {
        "id": "a43e05b6063c4ff3",
        "type": "mqtt out",
        "z": "f80f5946202b1a7a",
        "name": "",
        "topic": "ds/Total Vibration Level",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "78febe8b877c656a",
        "x": 890,
        "y": 480,
        "wires": []
    },
    {
        "id": "7b518acf68e7d1cc",
        "type": "mqtt out",
        "z": "f80f5946202b1a7a",
        "name": "",
        "topic": "ds/X Peaks",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "78febe8b877c656a",
        "x": 850,
        "y": 520,
        "wires": []
    },
    {
        "id": "93fa059a0fb8683f",
        "type": "mqtt out",
        "z": "f80f5946202b1a7a",
        "name": "",
        "topic": "ds/Y Peaks",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "78febe8b877c656a",
        "x": 850,
        "y": 560,
        "wires": []
    },
    {
        "id": "b672f1041c1003f3",
        "type": "mqtt out",
        "z": "f80f5946202b1a7a",
        "name": "",
        "topic": "ds/Z Peaks",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "78febe8b877c656a",
        "x": 850,
        "y": 600,
        "wires": []
    },
    {
        "id": "8a69bd1622dd973b",
        "type": "mqtt out",
        "z": "f80f5946202b1a7a",
        "name": "",
        "topic": "ds/Estimated Motor Speed Hz",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "78febe8b877c656a",
        "x": 910,
        "y": 640,
        "wires": []
    },
    {
        "id": "7a18a22d476b555e",
        "type": "mqtt out",
        "z": "f80f5946202b1a7a",
        "name": "",
        "topic": "meta/MAC",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "78febe8b877c656a",
        "x": 850,
        "y": 80,
        "wires": []
    },
    {
        "id": "15fa62dada40c9b0",
        "type": "function",
        "z": "f80f5946202b1a7a",
        "name": "data_process",
        "func": "// Ensure that the data field exists in the parsed message\nif (msg.data === undefined) {\n    // If data is undefined, log an error and return a default message\n    node.error(\"Error: data is undefined\", msg);\n}\n\n// Ensure that sensor_data exists inside the data field\nlet sensorData = msg.data.sensor_data;\nif (sensorData === undefined) {\n    // If sensor_data is undefined, log an error and return a default message\n    node.error(\"Error: data is undefined\", msg);\n}\n\n// Destructure the relevant data, including sensor_name from msg.data\nlet {\n    nodeId, firmware, battery, battery_percent: batteryPercent, counter, sensor_type: sensorType,\n    sensor_name: sensorName, // Correcting here to pull directly from msg.data\n    addr: sensorAddr, type,\n} = msg.data; // sensor_name is directly in msg.data, not in sensor_data\n\n// Check if the sensor type is 80 (indicating vibration sensor) and sensorData is defined\nif (sensorData !== undefined) {\n\n    // Calculate the Total Vibration Level (TVL) using the root mean square (RMS) acceleration values for x, y, and z axes\n    let TVL = Math.sqrt(\n        Math.pow(sensorData.x_rms_ACC_G, 2) +\n        Math.pow(sensorData.y_rms_ACC_G, 2) +\n        Math.pow(sensorData.z_rms_ACC_G, 2)\n    );\n\n    // Combine the three peak values for each axis into a single string for x, y, and z axes\n    let xPeaks = `${sensorData?.x_peak_one_Hz}/${sensorData?.x_peak_two_Hz}/${sensorData?.x_peak_three_Hz}`;\n    let yPeaks = `${sensorData?.y_peak_one_Hz}/${sensorData?.y_peak_two_Hz}/${sensorData?.y_peak_three_Hz}`;\n    let zPeaks = `${sensorData?.z_peak_one_Hz}/${sensorData?.z_peak_two_Hz}/${sensorData?.z_peak_three_Hz}`;\n\n    // Estimate the motor speed (Hz) by finding the maximum peak frequency value among all axes\n    let xMaxPeak = Math.max(sensorData?.x_peak_one_Hz, sensorData?.x_peak_two_Hz, sensorData?.x_peak_three_Hz);\n    let yMaxPeak = Math.max(sensorData?.y_peak_one_Hz, sensorData?.y_peak_two_Hz, sensorData?.y_peak_three_Hz);\n    let zMaxPeak = Math.max(sensorData?.z_peak_one_Hz, sensorData?.z_peak_two_Hz, sensorData?.z_peak_three_Hz);\n\n    // Determine the highest peak value to estimate motor speed\n    let estimatedMotorSpeedHz = Math.max(xMaxPeak, yMaxPeak, zMaxPeak);\n\n    // Return an array of objects with each piece of relevant data for further processing\n    return [\n        { payload: sensorAddr },                     // Sensor mode\n        { payload: sensorData.odr.match(/\\d+/)[0]  },      // Output data rate (ODR) extracted as a number\n        { payload: sensorData?.temperature },              // Temperature reading\n        { payload: sensorData?.x_rms_ACC_G },              // X-axis RMS acceleration\n        { payload: sensorData?.x_max_ACC_G },              // X-axis max acceleration\n        { payload: sensorData?.y_rms_ACC_G },              // Y-axis RMS acceleration\n        { payload: sensorData?.y_max_ACC_G },              // Y-axis max acceleration\n        { payload: sensorData?.z_rms_ACC_G },              // Z-axis RMS acceleration\n        { payload: sensorData?.z_max_ACC_G },              // Z-axis max acceleration\n        { payload: batteryPercent },                       // Battery level percentage\n        { payload: TVL },                                  // Total Vibration Level (TVL)\n        { payload: xPeaks },                               // Combined X-axis peaks\n        { payload: yPeaks },                               // Combined Y-axis peaks\n        { payload: zPeaks },                               // Combined Z-axis peaks\n        { payload: estimatedMotorSpeedHz },                // Estimated motor speed in Hz\n    ];\n}\n",
        "outputs": 15,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 380,
        "wires": [
            [
                "7a18a22d476b555e"
            ],
            [
                "00ac0c380e905db1"
            ],
            [
                "e0c6dc4616cb9c8b"
            ],
            [
                "c6772b27d3ea6191"
            ],
            [
                "c4d27632377e939d"
            ],
            [
                "6023034f50d8fa41"
            ],
            [
                "4ab1bb85787562b7"
            ],
            [
                "ded4b9a145ed3b3b"
            ],
            [
                "a8918cbb84713574"
            ],
            [
                "ba1e72b6d0681524"
            ],
            [
                "a43e05b6063c4ff3"
            ],
            [
                "7b518acf68e7d1cc"
            ],
            [
                "93fa059a0fb8683f"
            ],
            [
                "b672f1041c1003f3"
            ],
            [
                "8a69bd1622dd973b"
            ]
        ]
    },
    {
        "id": "f0dfd4dce7e9b113",
        "type": "ncd-gateway-config",
        "name": "gateway",
        "comm_type": "serial",
        "ip_address": "",
        "tcp_port": "2101",
        "port": "/dev/ttymxc2",
        "baudRate": "115200",
        "pan_id": "7fff",
        "rssi": false
    },
    {
        "id": "78febe8b877c656a",
        "type": "mqtt-broker",
        "name": "blynk.cloud - 80 free",
        "broker": "blynk.cloud",
        "port": "8883",
        "tls": "0dd8fa5179d50dc5",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "ds/Terminal",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "|BLYNK| Type \"help\" for the list of available commands",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0dd8fa5179d50dc5",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "ISRG_Root_X1.der",
        "servername": "blynk.cloud",
        "verifyservercert": false,
        "alpnprotocol": ""
    }
]

