NCD-Environmental-Air-Quality-Sensor/Firmware/flow.json
[
    {
        "id": "bd87f60bd9d30f17",
        "type": "subflow",
        "name": "process_static_token",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 180,
                "wires": [
                    {
                        "id": "cdc3f822ebf90640"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#3FADB5",
        "icon": "font-awesome/fa-list-ol"
    },
    {
        "id": "1eb1fc7fa5b08086",
        "type": "exec",
        "z": "bd87f60bd9d30f17",
        "command": "[ -f",
        "addpay": "path",
        "append": "] && echo exists || echo missing",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Check if File Exists",
        "x": 330,
        "y": 180,
        "wires": [
            [
                "80ab4f9f27cb0298"
            ],
            [],
            []
        ]
    },
    {
        "id": "80ab4f9f27cb0298",
        "type": "function",
        "z": "bd87f60bd9d30f17",
        "name": "File Exists?",
        "func": "if (msg.payload.trim() === 'exists') {\n    return msg;\n} else {\n    node.error(`File ${msg.path} does not exist (filename provide for sensor_type = ${msg.sensor_type})`)\n    //msg.payload = 'File ' + msg.path + ' does not exist.';\n    //return [null, msg];\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 160,
        "wires": [
            [
                "567fd4305b47fa2f"
            ]
        ]
    },
    {
        "id": "567fd4305b47fa2f",
        "type": "exec",
        "z": "bd87f60bd9d30f17",
        "command": "stat -c %Y",
        "addpay": "path",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Check File Timestamp",
        "x": 800,
        "y": 100,
        "wires": [
            [
                "5e61c93a19688e72"
            ],
            [],
            []
        ]
    },
    {
        "id": "5e61c93a19688e72",
        "type": "function",
        "z": "bd87f60bd9d30f17",
        "name": "Detect Change",
        "func": "var prev = context.get('prev_' + msg.path) || 0;\nvar curr = parseInt(msg.payload);\nif (curr !== prev) {\n    context.set('prev_' + msg.path, curr);\n    msg.payload = 'File changed';\n} else {\n    msg.payload = 'No changes';\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 180,
        "wires": [
            [
                "cd1a6c22dda2b958"
            ]
        ]
    },
    {
        "id": "cdc3f822ebf90640",
        "type": "function",
        "z": "bd87f60bd9d30f17",
        "name": "Check filename get from user",
        "func": "\nlet filename = msg.filename;\n// Check if the filename contains \"_tokens\"\nif (filename.includes(\"_tokens\")) {\n    // Ensure the filename ends with \".csv\"\n    if (!filename.endsWith(\".csv\")) {\n        filename += \".csv\";\n    }\n\n    let path = \"/home/ncdio/.node-red/\"+filename;\n    //global.set(\"path_filename_27\", path);\n    msg.path = path;\n    return msg;\n}\nnode.error(`Please, provide correct filename with token for sensor type 27: ${filename}`);\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 185,
        "y": 180,
        "wires": [
            [
                "1eb1fc7fa5b08086"
            ]
        ],
        "l": false
    },
    {
        "id": "48136363925fab14",
        "type": "file in",
        "z": "bd87f60bd9d30f17",
        "name": "",
        "filename": "path",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 985,
        "y": 180,
        "wires": [
            [
                "dfac751efe41eed0"
            ]
        ],
        "l": false
    },
    {
        "id": "dfac751efe41eed0",
        "type": "function",
        "z": "bd87f60bd9d30f17",
        "name": "get_tokens_from_file",
        "func": "// Reset the global \"tokens\" value\n//global.set(\"tokens\", \"\");\n\n// Check if the payload is empty\nif (msg.payload === \"\") {\n    node.error(\"File with tokens for sensor_type = 80 is empty!\", msg);\n    return null;\n}\n\n// Ensure the payload is defined and is a string\nif (typeof msg.payload === \"string\") {\n    // Check if the payload only contains newline characters\n    if (/^\\s*$/.test(msg.payload)) {\n        // Log a warning if the file only contains whitespace or newlines\n        node.warn(\"File only contains whitespace or newline characters. Please provide file contains token from blynk.cloud\");\n        return null; // Stop processing further\n    } else {\n        let name = \"tokens-\"+msg.sensor_type; \n        // Save the content to the global context\n        global.set(name, msg.payload);\n        \n        // Proceed with further processing\n        return msg;\n    }\n} else {\n    // Throw an error if payload is not a valid string\n    node.error(\"Payload is not a valid string.\", msg);\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1045,
        "y": 180,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "cd1a6c22dda2b958",
        "type": "switch",
        "z": "bd87f60bd9d30f17",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "File changed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "No changes",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 925,
        "y": 180,
        "wires": [
            [
                "48136363925fab14"
            ],
            []
        ],
        "l": false
    },
    {
        "id": "61d27f8ab854f611",
        "type": "subflow",
        "name": "process_map_token_mac",
        "info": "",
        "category": "Blynk",
        "in": [
            {
                "x": 340,
                "y": 320,
                "wires": [
                    {
                        "id": "33988615d7f824c5"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1060,
                "y": 360,
                "wires": [
                    {
                        "id": "7a6ecae2a2b86462",
                        "port": 0
                    },
                    {
                        "id": "03f55477445e9daa",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1060,
                "y": 240,
                "wires": [
                    {
                        "id": "225b3329ca2a42bf",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#3FADB5",
        "icon": "node-red/batch.svg"
    },
    {
        "id": "33988615d7f824c5",
        "type": "function",
        "z": "61d27f8ab854f611",
        "name": "check_mac_in_file",
        "func": "// Ensure both addr and token are defined before comparing\n\nlet addr = msg.data.addr;\n\nlet map = global.get(\"map-mac-tokens\") || [];\n//node.warn(\"MAP: \" + JSON.stringify(map));\n\n// Validate map as an array\nif (!Array.isArray(map)) {\n    node.warn(\"MAP is not an array. Initializing as an empty array.\");\n    map = [];\n}\n\n// Get the col2 value from the incoming message\nlet searchcol2 = msg.data.addr;\n\nif (map.length === 0) {\n    global.set(\"flag\", 1); // Set flag if map is empty\n    msg.payload = msg.data.addr; // Format as CSV string\n    return msg;\n} else {\n    // Search for the entry with the matching col2 value\n    let foundItem = map.find(item => item.col2 === searchcol2);\n    // If a matching entry is found, return col2, otherwise return a message indicating not found\n    if (foundItem) {\n        global.set(\"flag\", 0);\n        return msg;\n    } \n    else {\n        global.set(\"flag\", 1);  // Set flag if addr does not match payload\n        msg.payload = msg.data.addr; // Format as CSV string\n        return msg;\n    }\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 395,
        "y": 320,
        "wires": [
            [
                "aa04b604cdbc271f"
            ]
        ],
        "l": false
    },
    {
        "id": "aa04b604cdbc271f",
        "type": "switch",
        "z": "61d27f8ab854f611",
        "name": "",
        "property": "flag",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 455,
        "y": 320,
        "wires": [
            [
                "8b3483a02482aee7"
            ],
            [
                "225b3329ca2a42bf",
                "03f55477445e9daa"
            ]
        ],
        "l": false
    },
    {
        "id": "4b369d6c721efe6e",
        "type": "file",
        "z": "61d27f8ab854f611",
        "name": "",
        "filename": "/home/ncdio/.node-red/token-map.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 695,
        "y": 280,
        "wires": [
            [
                "225b3329ca2a42bf",
                "7a6ecae2a2b86462"
            ]
        ],
        "l": false
    },
    {
        "id": "8b3483a02482aee7",
        "type": "function",
        "z": "61d27f8ab854f611",
        "name": "get_token",
        "func": "// Get the global \"tokens\" value and map-mac-tokens\nlet addrToken = \"tokens-\"+msg.data.sensor_type;\nlet tokens = global.get(addrToken);\nlet mapMacTokens = global.get(\"map-mac-tokens\") || [];\n\n// Ensure \"tokens\" is defined and not empty\nif (!tokens || typeof tokens !== \"string\" || tokens.trim() === \"\") {\n    node.error(`File with tokens for ${msg.data.sensor_name} (sensor_type = ${msg.data.sensor_type}) is undefined or empty. Please set it correctly.`, msg);\n    return null;\n}\n\n// Ensure \"map-mac-tokens\" is valid\nif (!Array.isArray(mapMacTokens)) {\n    node.warn(\"MAP MAC Tokens is not an array. Initializing as an empty array.\");\n    mapMacTokens = [];\n}\n\n// Log the tokens and map for debugging\n//node.warn(\"MAP Tokens (CSV): \" + tokens);\n//node.warn(\"MAP MAC Tokens: \" + JSON.stringify(mapMacTokens));\n\n// Parse tokens CSV into rows\nlet rows = tokens.split('\\n').filter(row => row.trim() !== '');\n\n// Remove header row if it exists\nif (rows[0].includes(\"QR Code,Device Token,File Name\")) {\n    rows.shift();\n}\n\n// Ensure there are data rows to process\nif (rows.length === 0) {\n    node.error(\"No data rows found in 'tokens'. Please provide valid data.\", msg);\n    return null;\n}\n\n// Find the first unused token that is not already mapped in mapMacTokens\nlet matchedRow = rows.find(row => {\n    let columns = row.split(',');\n    let deviceToken = columns[1]?.trim();\n    return (\n        columns.length > 1 &&\n        deviceToken &&\n        !mapMacTokens.some(mapItem => mapItem.col3 === deviceToken)\n    );\n});\nlet addr = msg.data.addr;\n\nif (!matchedRow) {\n    node.error(`No unused tokens available for ${addr} in the tokens map. Please create more static token for ${msg.data.sensor_name} (sensor type = ${msg.data.sensor_type}).`, msg);\n    return null;\n}\n\n// Split the matched row into columns\nlet columns = matchedRow.split(',');\n\n// Ensure the row has at least two columns (QR Code and Device Token)\nif (columns.length > 1) {\n    let type = msg.data.sensor_type;\n\n    let deviceToken = columns[1].trim();\n\n    mapMacTokens.push({ col1: type, col2: addr, col3: deviceToken });\n    global.set(\"map-mac-tokens\", mapMacTokens);\n\n    // Set the payload\n    msg.payload =  type + \",\" + addr + ',' + deviceToken;\n    node.warn(`Assigned Token: ${deviceToken} to MAC Address: ${addr} (sensor type = ${type})`);\n} else {\n    node.error(\"Device Token not found in the matched row. Ensure the CSV format is correct.\", msg);\n    return null;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 535,
        "y": 280,
        "wires": [
            [
                "582c9b899d191d20"
            ]
        ],
        "l": false
    },
    {
        "id": "582c9b899d191d20",
        "type": "csv",
        "z": "61d27f8ab854f611",
        "name": "",
        "sep": ",",
        "hdrin": false,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": true,
        "include_null_values": true,
        "x": 615,
        "y": 280,
        "wires": [
            [
                "4b369d6c721efe6e",
                "8c80f3f743f34cc2"
            ]
        ],
        "l": false
    },
    {
        "id": "8c80f3f743f34cc2",
        "type": "function",
        "z": "61d27f8ab854f611",
        "name": "update_map_mac_tokens",
        "func": "// Initialize the global variable if it doesn't exist\nlet currentArray = global.get(\"map-mac-tokens\") || [];\n\nlet searchCol2 = msg.payload.col2;\n\n// Search for the entry with the matching col1 value\nlet foundItem = currentArray.find(item => item.col2 === searchCol2);\n// If a matching entry is found, return col2, otherwise return a message indicating not found\nif (foundItem) {\n\n}\nelse {\n    // Create the new entry (dictionary)\n    let newEntry = {\n        \"col1\": msg.payload.col1,\n        \"col2\": msg.payload.col2, \n        \"col3\": msg.payload.col3\n    };\n\n    // Append the new entry to the array\n    currentArray.push(newEntry);\n\n    // Set the updated array back to the global context\n    global.set(\"map-mac-tokens\", currentArray);\n}\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 695,
        "y": 320,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "225b3329ca2a42bf",
        "type": "function",
        "z": "61d27f8ab854f611",
        "name": "connect",
        "func": "\nlet map = global.get(\"map-mac-tokens\");\n// Get the col1 value from the incoming message\nlet searchCol2 = msg.data.addr;\n\n// Search for the entry with the matching col1 value\nlet foundItem = map.find(item => item.col2 === searchCol2);\nmsg.broker = msg.broker || {};\n// If a matching entry is found, return col2, otherwise return a message indicating not found\nif (foundItem) {\n    let connectMsg = {\n        action: \"connect\",\n        broker: {\n            username: \"device\",\n            password: foundItem.col3,\n            force: true\n        }\n    };\n    node.send(connectMsg);\n\n} \n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 805,
        "y": 340,
        "wires": [
            [
                "ee2a8495c8c28f7b"
            ]
        ],
        "l": false
    },
    {
        "id": "03f55477445e9daa",
        "type": "delay",
        "z": "61d27f8ab854f611",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 805,
        "y": 380,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "7a6ecae2a2b86462",
        "type": "delay",
        "z": "61d27f8ab854f611",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 805,
        "y": 280,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "ee2a8495c8c28f7b",
        "type": "debug",
        "z": "61d27f8ab854f611",
        "name": "debug 65",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 895,
        "y": 340,
        "wires": [],
        "l": false
    },
    {
        "id": "116e418f75c3f97d",
        "type": "file in",
        "z": "61d27f8ab854f611",
        "name": "",
        "filename": "/home/ncdio/.node-red/token-map.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 615,
        "y": 100,
        "wires": [
            [
                "c869bdf1c8eeba2e"
            ]
        ],
        "l": false
    },
    {
        "id": "8ec89798c80cc52e",
        "type": "function",
        "z": "61d27f8ab854f611",
        "name": "get_tokens_from_file",
        "func": "if (msg.payload === \"\") {\n    global.set(\"map-mac-tokens\", \"\");\n}\nelse {\n\n    // Clean the col1 and col2 values by removing unwanted characters\n    let col1 = msg.payload.col1.replace(/{col1:/, '').replace(/}/, '');\n    let col2 = msg.payload.col2.replace(/col2:/, '').replace(/}/, '');\n    let col3 = msg.payload.col3.replace(/col3:/, '').replace(/}/, '');\n\n    // Create a dictionary with the cleaned values\n    let newEntry = {\n        \"col1\": col1,\n        \"col2\": col2,\n        \"col3\": col3\n    };\n\n    // Retrieve the global array (initialize it if it doesn't exist)\n    let currentArray = global.get(\"map-mac-tokens\") || [];\n\n    let searchCol2 = col2;\n\n    // Search for the entry with the matching col1 value\n    let foundItem = currentArray.find(item => item.col2 === searchCol2);\n    // If a matching entry is found, return col2, otherwise return a message indicating not found\n    if (foundItem) {\n        \n    } else {\n\n        // Append the new entry to the array\n        currentArray.push(newEntry);\n\n        // Set the updated array back to the global context\n        global.set(\"map-mac-tokens\", currentArray);    \n    }\n\n    // Output the updated array for further use (e.g., saving to file)\n    msg.payload = currentArray;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 745,
        "y": 100,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "c869bdf1c8eeba2e",
        "type": "csv",
        "z": "61d27f8ab854f611",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 675,
        "y": 100,
        "wires": [
            [
                "8ec89798c80cc52e"
            ]
        ],
        "l": false
    },
    {
        "id": "a6812ebac1b74817",
        "type": "exec",
        "z": "61d27f8ab854f611",
        "command": "sh -c",
        "addpay": "payload",
        "append": "[ -f /home/ncdio/.node-red/token-map.csv ] || touch /home/ncdio/.node-red/token-map.csv",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 535,
        "y": 120,
        "wires": [
            [
                "116e418f75c3f97d"
            ],
            [],
            []
        ],
        "l": false
    },
    {
        "id": "c2d9870e67c66993",
        "type": "inject",
        "z": "61d27f8ab854f611",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "a6812ebac1b74817"
            ]
        ]
    },
    {
        "id": "13064427df949fdd",
        "type": "tab",
        "label": "27",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b489e37e15f2452a",
        "type": "debug",
        "z": "13064427df949fdd",
        "name": "Debug Sensor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 385,
        "y": 300,
        "wires": [],
        "l": false
    },
    {
        "id": "91c9e88e3de49017",
        "type": "mqtt out",
        "z": "13064427df949fdd",
        "name": "",
        "topic": "ds/Battery",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a72b3450727ac6f1",
        "x": 820,
        "y": 300,
        "wires": []
    },
    {
        "id": "420317d25ea89688",
        "type": "mqtt out",
        "z": "13064427df949fdd",
        "name": "",
        "topic": "ds/Temperature",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a72b3450727ac6f1",
        "x": 840,
        "y": 360,
        "wires": []
    },
    {
        "id": "e7bd41ff60e2976c",
        "type": "function",
        "z": "13064427df949fdd",
        "name": "data_process",
        "func": "// Check if the message payload is a string, and parse it if necessary\nlet parsedMsg;\nif (typeof msg.data === 'string') {\n    parsedMsg = JSON.parse(msg.data);\n} else {\n    parsedMsg = msg.data;\n}\n\n// Extract relevant data from the parsed message payload\nlet { \n    nodeId, firmware, battery, battery_percent: batteryPercent, counter, sensor_type: sensorType,\n    sensor_data: sensorData, sensor_name: sensorName, addr: sensorAddr, type \n} = parsedMsg;\n\n// Initialize color properties for different sensor data and image\nlet colorProp = {\n    temperature: \"\",\n    pressure: \"\",\n    humidity: \"\",\n    gas_resistance: \"\",\n    iaq: \"\",\n    image: \"\"\n};\n\n// Check if the sensor type is 27 and sensorData is defined\nif (sensorData !== undefined) {\n    // Set color property and image for IAQ (Indoor Air Quality) if it's defined\n    if (sensorData.iaq !== undefined) {\n        if (sensorData.iaq <= 50) {\n            colorProp.iaq = \"#5ca731\"; // Green for good IAQ\n            colorProp.image = 0;\n        } else if (sensorData.iaq <= 100) {\n            colorProp.iaq = \"#ADB847\"; // Light green for moderate IAQ\n            colorProp.image = 1;\n        } else if (sensorData.iaq <= 150) {\n            colorProp.iaq = \"#E6A22C\"; // Yellow for unhealthy for sensitive groups\n            colorProp.image = 2;\n        } else if (sensorData.iaq <= 200) {\n            colorProp.iaq = \"#ED8125\"; // Orange for unhealthy\n            colorProp.image = 3;\n        } else if (sensorData.iaq <= 300) {\n            colorProp.iaq = \"#D4403C\"; // Red for very unhealthy\n            colorProp.image = 4;\n        } else {\n            colorProp.iaq = \"#A9364A\"; // Purple for hazardous\n            colorProp.image = 5;\n        }\n    }\n\n    // Set color property for Temperature if it's defined\n    if (sensorData.temperature !== undefined) {\n        if (sensorData.temperature >= 18 && sensorData.temperature <= 24) {\n            colorProp.temperature = \"#5CA731\"; // Green for comfortable temperature\n        } else if ((sensorData.temperature >= 15 && sensorData.temperature < 18) || \n                   (sensorData.temperature > 24 && sensorData.temperature <= 27)) {\n            colorProp.temperature = \"#BE7E00\"; // Orange for slightly uncomfortable\n        } else {\n            colorProp.temperature = \"#A9364A\"; // Red for very uncomfortable\n        }\n    }\n\n    // Set color property for Pressure if it's defined\n    if (sensorData.pressure !== undefined) {\n        if (sensorData.pressure >= 1010 && sensorData.pressure <= 1020) {\n            colorProp.pressure = \"#5CA731\"; // Green for normal pressure\n        } else if ((sensorData.pressure >= 1000 && sensorData.pressure < 1010) || \n                   (sensorData.pressure > 1020 && sensorData.pressure <= 1030)) {\n            colorProp.pressure = \"#BE7E00\"; // Orange for slightly abnormal pressure\n        } else {\n            colorProp.pressure = \"#A9364A\"; // Red for very abnormal pressure\n        }\n    }\n\n    // Set color property for Humidity if it's defined\n    if (sensorData.humidity !== undefined) {\n        if (sensorData.humidity >= 30 && sensorData.humidity <= 50) {\n            colorProp.humidity = \"#5CA731\"; // Green for comfortable humidity\n        } else if ((sensorData.humidity >= 20 && sensorData.humidity < 30) || \n                   (sensorData.humidity > 50 && sensorData.humidity <= 60)) {\n            colorProp.humidity = \"#BE7E00\"; // Orange for slightly uncomfortable\n        } else {\n            colorProp.humidity = \"#A9364A\"; // Red for very uncomfortable\n        }\n    }\n\n    // Set color property for Gas Resistance if it's defined\n    if (sensorData.gas_resistance !== undefined) {\n        if (sensorData.gas_resistance >= 70000 && sensorData.gas_resistance <= 100000) {\n            colorProp.gas_resistance = \"#5CA731\"; // Green for good gas resistance\n        } else if (sensorData.gas_resistance >= 30000 && sensorData.gas_resistance < 70000) {\n            colorProp.gas_resistance = \"#BE7E00\"; // Orange for moderate gas resistance\n        } else {\n            colorProp.gas_resistance = \"#A9364A\"; // Red for poor gas resistance\n        }\n    }\n}\n\nreturn [\n    { payload: sensorAddr },                    // MAC\n    { payload: colorProp.image },              // Image index based on IAQ\n    { payload: batteryPercent },               // Battery percentage\n    { payload: sensorData?.temperature },      // Temperature data\n    { payload: sensorData?.pressure },         // Pressure data\n    { payload: sensorData?.humidity },         // Humidity data\n    { payload: sensorData?.gas_resistance },   // Gas resistance data\n    { payload: sensorData?.iaq },              // IAQ data\n    { payload: colorProp.temperature },        // Temperature color property\n    { payload: colorProp.pressure },           // Pressure color property\n    { payload: colorProp.humidity },           // Humidity color property\n    { payload: colorProp.gas_resistance },      // Gas resistance color property\n    //{ payload: sensorAddr },                    // MAC\n];",
        "outputs": 13,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 340,
        "wires": [
            [
                "5725cba68220e96f"
            ],
            [
                "369d5d2e5b1067e7"
            ],
            [
                "91c9e88e3de49017"
            ],
            [
                "420317d25ea89688"
            ],
            [
                "a686057a1be2d320"
            ],
            [
                "1aed8008ef7849a9"
            ],
            [
                "acbf0bcf06cd1b4a"
            ],
            [
                "b897f8224dc66b3a"
            ],
            [
                "f432f2a70356692f"
            ],
            [
                "7e5eeb4e40d24487"
            ],
            [
                "01db64031763f466"
            ],
            [
                "3c0d5e84e47e04b0"
            ],
            [
                "e34d08d5c04acb11"
            ]
        ]
    },
    {
        "id": "b897f8224dc66b3a",
        "type": "mqtt out",
        "z": "13064427df949fdd",
        "name": "",
        "topic": "ds/IAQ",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a72b3450727ac6f1",
        "x": 810,
        "y": 600,
        "wires": []
    },
    {
        "id": "a686057a1be2d320",
        "type": "mqtt out",
        "z": "13064427df949fdd",
        "name": "",
        "topic": "ds/Pressure",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a72b3450727ac6f1",
        "x": 830,
        "y": 420,
        "wires": []
    },
    {
        "id": "acbf0bcf06cd1b4a",
        "type": "mqtt out",
        "z": "13064427df949fdd",
        "name": "",
        "topic": "ds/Gas_resistance",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a72b3450727ac6f1",
        "x": 850,
        "y": 540,
        "wires": []
    },
    {
        "id": "1aed8008ef7849a9",
        "type": "mqtt out",
        "z": "13064427df949fdd",
        "name": "",
        "topic": "ds/Humidity",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a72b3450727ac6f1",
        "x": 830,
        "y": 480,
        "wires": []
    },
    {
        "id": "f432f2a70356692f",
        "type": "mqtt out",
        "z": "13064427df949fdd",
        "name": "",
        "topic": "ds/Temperature/prop/color",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a72b3450727ac6f1",
        "x": 870,
        "y": 660,
        "wires": []
    },
    {
        "id": "7e5eeb4e40d24487",
        "type": "mqtt out",
        "z": "13064427df949fdd",
        "name": "",
        "topic": "ds/Pressure/prop/color",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a72b3450727ac6f1",
        "x": 860,
        "y": 720,
        "wires": []
    },
    {
        "id": "01db64031763f466",
        "type": "mqtt out",
        "z": "13064427df949fdd",
        "name": "",
        "topic": "ds/Humidity/prop/color",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a72b3450727ac6f1",
        "x": 860,
        "y": 780,
        "wires": []
    },
    {
        "id": "3c0d5e84e47e04b0",
        "type": "mqtt out",
        "z": "13064427df949fdd",
        "name": "",
        "topic": "ds/Gas_resistance/prop/color",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a72b3450727ac6f1",
        "x": 880,
        "y": 840,
        "wires": []
    },
    {
        "id": "e34d08d5c04acb11",
        "type": "mqtt out",
        "z": "13064427df949fdd",
        "name": "",
        "topic": "ds/IAQ/prop/color",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a72b3450727ac6f1",
        "x": 850,
        "y": 900,
        "wires": []
    },
    {
        "id": "369d5d2e5b1067e7",
        "type": "mqtt out",
        "z": "13064427df949fdd",
        "name": "",
        "topic": "ds/Air Quality Image",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a72b3450727ac6f1",
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "a30ec67102693dec",
        "type": "comment",
        "z": "13064427df949fdd",
        "name": "NCD Sensor Node",
        "info": "",
        "x": 180,
        "y": 300,
        "wires": []
    },
    {
        "id": "725d4a863f2b5b97",
        "type": "comment",
        "z": "13064427df949fdd",
        "name": "Process data from sensor",
        "info": "",
        "x": 520,
        "y": 220,
        "wires": []
    },
    {
        "id": "26ec0a898b539891",
        "type": "comment",
        "z": "13064427df949fdd",
        "name": "MQTT-OUT",
        "info": "",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "7054d7001ed14599",
        "type": "ncd-wireless-node",
        "z": "13064427df949fdd",
        "name": "",
        "connection": "0b47e914c1107fda",
        "config_comm": "0b47e914c1107fda",
        "addr": "",
        "sensor_type": "27",
        "auto_config": true,
        "on_the_fly_enable": "",
        "node_id_delay_active": "",
        "node_id": 0,
        "delay": 300,
        "form_network": "",
        "destination_active": "",
        "destination": "0000FFFF",
        "power_active": "",
        "power": 4,
        "retries_active": "",
        "retries": 10,
        "pan_id_active": "",
        "pan_id": "7FFF",
        "change_enabled": "",
        "change_pr": "0",
        "change_interval": "0",
        "cm_calibration": "60.6",
        "bp_altitude": "0",
        "bp_pressure": "0",
        "bp_temp_prec": "0",
        "bp_press_prec": "0",
        "amgt_accel": "0",
        "amgt_mag": "0",
        "amgt_gyro": "0",
        "impact_accel_active": "",
        "impact_accel": "0",
        "impact_data_rate_active": "",
        "impact_data_rate": "4",
        "impact_threshold_active": "",
        "impact_threshold": 25,
        "impact_duration_active": "",
        "impact_duration": 1,
        "activ_interr_x": 1,
        "activ_interr_y": 2,
        "activ_interr_z": 4,
        "activ_interr_op": 8,
        "force_calibration_co2_auto_config": "",
        "force_calibration_co2": 400,
        "filtering": 0,
        "data_rate": 5,
        "time_series": 0,
        "reading_type": 1,
        "mode_80_active": "",
        "mode_80": 0,
        "measurement_mode_80_active": "",
        "measurement_mode_80": 0,
        "on_request_timeout_80_active": "",
        "on_request_timeout_80": 1,
        "sensor_boot_time_420ma_active": "",
        "sensor_boot_time_420ma": 0,
        "sensor_boot_time_78_active": "",
        "sensor_boot_time_78": 0,
        "deadband_80_active": "",
        "deadband_80": 0,
        "filter_80_active": "",
        "filter_80": 0,
        "output_data_rate_p1_81_active": "",
        "output_data_rate_p1_81": 0,
        "output_data_rate_p2_81_active": "",
        "output_data_rate_p2_81": 0,
        "sampling_duration_p1_81_active": "",
        "sampling_duration_p1_81": 0,
        "sampling_duration_p2_81_active": "",
        "sampling_duration_p2_81": 0,
        "led_alert_mode_84_active": "",
        "led_alert_mode_84": 0,
        "led_accelerometer_threshold_84_active": "",
        "led_accelerometer_threshold_84": "",
        "led_velocity_threshold_84_active": "",
        "led_velocity_threshold_84": "",
        "acceleration_interrupt_threshold_84_active": false,
        "acceleration_interrupt_threshold_84": "",
        "set_rtc_101": 0,
        "current_calibration_82": "",
        "current_calibration_82_active": false,
        "current_calibration_c1_80": 178,
        "current_calibration_c1_80_active": "",
        "current_calibration_c2_80": 178,
        "current_calibration_c2_80_active": "",
        "current_calibration_c3_80": 178,
        "current_calibration_c3_80_active": "",
        "output_data_rate_101_active": "",
        "output_data_rate_101": 0,
        "output_data_rate_101_m2_active": "",
        "output_data_rate_101_m2": 0,
        "sampling_duration_101_active": "",
        "sampling_duration_101": 1,
        "sampling_interval_101_active": "",
        "sampling_interval_101": 1,
        "full_scale_range_101_active": "",
        "full_scale_range_101": 1,
        "full_scale_range_101_m2_active": "",
        "full_scale_range_101_m2": 1,
        "x_axis_101": "",
        "y_axis_101": "",
        "z_axis_101": "",
        "low_pass_filter_80_active": "",
        "low_pass_filter_80": 0,
        "high_pass_filter_80_active": "",
        "high_pass_filter_80": 0,
        "low_pass_filter_81_p2_active": "",
        "low_pass_filter_81_p2": 0,
        "high_pass_filter_81_p2_active": "",
        "high_pass_filter_81_p2": 0,
        "roll_angle_threshold_47": 0,
        "roll_angle_threshold_47_active": "",
        "pitch_angle_threshold_47": 0,
        "pitch_angle_threshold_47_active": "",
        "counter_threshold_35": 50,
        "counter_threshold_35_active": "",
        "payload_length_80_active": "",
        "payload_length_80": 3,
        "motion_threshold_46_active": "",
        "motion_threshold_46": 100,
        "low_calibration_420ma_active": "",
        "low_calibration_420ma": 68805,
        "mid_calibration_420ma_active": "",
        "mid_calibration_420ma": 68724,
        "high_calibration_420ma_active": "",
        "high_calibration_420ma": 68714,
        "thermocouple_type_23_active": "",
        "thermocouple_type_23": 0,
        "x": 200,
        "y": 340,
        "wires": [
            [
                "b489e37e15f2452a",
                "e4ed10087eecbf0a"
            ]
        ]
    },
    {
        "id": "718f3d07ce1d652a",
        "type": "ncd-gateway-node",
        "z": "13064427df949fdd",
        "name": "",
        "connection": "0b47e914c1107fda",
        "unknown_devices": 0,
        "outputs": 1,
        "x": 180,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "8eadb8dfab6049e3",
        "type": "comment",
        "z": "13064427df949fdd",
        "name": "NCD Gateway Node",
        "info": "",
        "x": 180,
        "y": 200,
        "wires": []
    },
    {
        "id": "e4ed10087eecbf0a",
        "type": "subflow:61d27f8ab854f611",
        "z": "13064427df949fdd",
        "name": "",
        "x": 385,
        "y": 340,
        "wires": [
            [
                "e7bd41ff60e2976c"
            ],
            [
                "657bd36d7d9916dd"
            ]
        ],
        "outputLabels": [
            "data",
            "connect"
        ],
        "l": false
    },
    {
        "id": "657bd36d7d9916dd",
        "type": "mqtt out",
        "z": "13064427df949fdd",
        "name": "",
        "topic": "ds/connect",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a72b3450727ac6f1",
        "x": 540,
        "y": 460,
        "wires": []
    },
    {
        "id": "a288eab355277229",
        "type": "subflow:bd87f60bd9d30f17",
        "z": "13064427df949fdd",
        "name": "",
        "x": 395,
        "y": 120,
        "wires": [],
        "l": false
    },
    {
        "id": "d4fb4be7fddf19f3",
        "type": "inject",
        "z": "13064427df949fdd",
        "name": "Provide filename with token",
        "props": [
            {
                "p": "filename",
                "v": "_tokens.csv",
                "vt": "str"
            },
            {
                "p": "sensor_type",
                "v": "27",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "a288eab355277229"
            ]
        ]
    },
    {
        "id": "bb07a874d5a6b3eb",
        "type": "comment",
        "z": "13064427df949fdd",
        "name": "Please set up the filename for the token file for this sensor.",
        "info": "The filename should follow the format:\n54_tokens.csv (or any other number) followed by _tokens.csv.",
        "x": 300,
        "y": 80,
        "wires": []
    },
    {
        "id": "5725cba68220e96f",
        "type": "mqtt out",
        "z": "13064427df949fdd",
        "name": "",
        "topic": "meta/MAC",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a72b3450727ac6f1",
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "a72b3450727ac6f1",
        "type": "mqtt-broker",
        "name": "blynk.cloud - 27",
        "broker": "blynk.cloud",
        "port": "8883",
        "tls": "e08568385acdae91",
        "clientid": "",
        "autoConnect": false,
        "usetls": true,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0b47e914c1107fda",
        "type": "ncd-gateway-config",
        "name": "gateway",
        "comm_type": "serial",
        "ip_address": "",
        "tcp_port": "2101",
        "port": "/dev/ttymxc2",
        "baudRate": "115200",
        "pan_id": "7fff",
        "rssi": false
    },
    {
        "id": "e08568385acdae91",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "ISRG_Root_X1.der",
        "servername": "blynk.cloud",
        "verifyservercert": false,
        "alpnprotocol": ""
    }
]

